    <!-- Loader Starts-->
<ng-container>
    
                        <div class="grid">
    <div class="col-12 md:col-12">
        <p-panel *ngIf="!ModuleIDList.includes(11074)" [style]="Module && Module[0].moduleList[0].BackgroundColor">
            <p-header>
                <div class="ui-panel-title">
Locale Master                </div>
            </p-header>
                <form name="form" (ngSubmit)="f_form_11074.form.valid && onSubmit(f_form_11074,11074,0,0)" #f_form_11074="ngForm" novalidate>
                <div class="formgrid grid" *ngIf="Module">
                            <div class="field col-12 md:col-2" style="display:none">
                                    <input   type="hidden" class="inputField " id="ID30897" name="ID" #ID30897="ngModel" [(ngModel)]="Module[0].moduleList[0].moduleDetails[0].value" />
                            </div>
                                <div class="field col-12 md:col-2">
                                            <label class="font-medium">DateMonth Picker</label>
                                                    <p-datePicker   [showIcon]="true" id="DateMonthPicker30898" name="DateMonthPicker" #DateMonthPicker30898="ngModel" large-columns
                                                                pattern=".*" [(ngModel)]="Module[0].moduleList[0].moduleDetails[1].value"
                                                                readonlyInput="true" [appendTo]="'body'" [monthNavigator]="true" [yearNavigator]="true" yearRange="1850:2150"
                                                                showButtonBar="true" [dateFormat]=DateFormat showWeek="true" showTime="true" [hourFormat]=hourFormat
                                                                todayButtonStyleClass="ui-secondary-button" clearButtonStyleClass="ui-secondary-button" dataType="date"></p-datePicker>
                                            <div *ngIf="DateMonthPicker30898?.invalid && (DateMonthPicker30898?.dirty || DateMonthPicker30898?.touched)"
                                                 class="error">
                                                <div *ngIf="DateMonthPicker30898?.errors?.required">
                                                    DateMonth Picker is required.
                                                </div>
                                                <div *ngIf="DateMonthPicker30898?.errors?.pattern">
                                                    
                                                </div>
                                            </div>
                            </div>
                                <div class="field col-12 md:col-2">
                                    <label title="required" class="font-medium">Check Box</label>
                                    <div>
                                        <p-checkbox   name="CheckBox" [value]="Module[0].moduleList[0].moduleDetails[2].value"
                                                    [(ngModel)]="Module[0].moduleList[0].moduleDetails[2].value" [binary]="true">
                                        </p-checkbox>
                                    </div>
                            </div>
                                <div class="field col-12 md:col-2">
                                            <label class="font-medium">Text Box</label>
                                                <input   type="text" size="30" class="inputField w-full" pInputText id="TextBox30901" name="TextBox" #TextBox30901="ngModel" [(ngModel)]="Module[0].moduleList[0].moduleDetails[3].value" pattern="" appSanitizeInput />
                                            <div *ngIf="TextBox30901?.invalid && (TextBox30901?.dirty || TextBox30901?.touched)"
                                                 class="error">
                                                <div *ngIf="TextBox30901?.errors?.pattern">
                                                    
                                                </div>

                                            </div>
                            </div>
                </div>
                    <div class="flex justify-content-end pb-3">
                        <button type="submit" pButton icon="pi pi-check-circle" label='Submit' iconPos="left"
                                class="p-button-primary px-5 py-2 text-base font-semibold" [disabled]="!f_form_11074.form.valid">
                        </button>
                    </div>
                    <div class="flex justify-content-end pb-3">
                        <button type="reset" pButton icon="pi pi-check-circle" label='reset' iconPos="left"
                                class="p-button-primary px-5 py-2 text-base font-semibold" [disabled]="!f_form_11074.form.valid">
                        </button>
                    </div>
                </form>
        </p-panel>
    </div>

                            </div> <!---End of grid-->


</ng-container>


