<!-- Loader Starts-->
<ng-container>

    <div class="grid">
        <div class="col-12 md:col-12">
            <form name="form" (ngSubmit)="f_form_11079.form.valid && onSubmit(f_form_11079,11079,0,0)"
                #f_form_11079="ngForm" novalidate>
                <div class="form-group-wrapper">
                    <div class="group-header">

                    </div>
                    <div class="group-content">
                        <div class="formgrid grid">
                            <div class="field col-12 md:col-3" style="display:none">
                                <input pInputText type="hidden" placeholder="" name="ID" #ID30987="ngModel"
                                    [(ngModel)]="Module[0].moduleList[0].moduleDetails[0].value">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="group-header">
                        Form With Grouping 1
                    </div>
                    <div class="group-content">
                        <div class="formgrid grid">
                            <div class="field col-12 md:col-2">
                                <label>DropDown List</label>
                                <p-select class="w-full" *ngIf="Module"
                                    [options]="Module[0].moduleList[0].moduleDetails[1].DropDownValues"
                                    [(ngModel)]="Module[0].moduleList[0].moduleDetails[1].value" ngModel
                                    #DropDownList30988="ngModel" id="DropDownList30988" name="DropDownList"
                                    autofocusFilter="true" resetFilterOnHide="true" filter="true" autofocus="true"
                                    [autoDisplayFirst]="false" showClear="true" autoZIndex="true" optionLabel="Text"
                                    [showClear]="true" scrollHeight="200px" appendTo="body"></p-select>
                            </div>
                            <div class="field col-12 md:col-2">
                                <label title="required">Text Box <span class="requiredmark">*</span></label>
                                <input pInputText type="text" class="w-full" name="TextBox" #TextBox30989="ngModel"
                                    required [(ngModel)]="Module[0].moduleList[0].moduleDetails[2].value" pattern=""
                                    appSanitizeInput />
                                <div *ngIf="TextBox30989?.invalid && (TextBox30989?.dirty || TextBox30989?.touched)"
                                    class="error">
                                    <div *ngIf="TextBox30989?.errors?.required">
                                        Text Box is required.
                                    </div>
                                    <div *ngIf="TextBox30989?.errors?.pattern">

                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-2">
                                <label>Multi DropDown List</label>
                                <p-multiSelect class="w-full"
                                    [options]="Module[0].moduleList[0].moduleDetails[3].DropDownValues"
                                    [(ngModel)]="Module[0].moduleList[0].moduleDetails[3].Multiselectvalue" ngModel
                                    #MultiDropDownList30990="ngModel" id="MultiDropDownList30990"
                                    name="MultiDropDownList" defaultLabel="Select" filter="true" [appendTo]="local"
                                    optionLabel="Text" displaySelectedLabel="true" maxSelectedLabels="4"
                                    scrollHeight="200px" selectedItemsLabel="{0} items selected" showToggleAll="true"
                                    resetFilterOnHide="true">
                                </p-multiSelect>
                            </div>
                            <div class="field col-12 md:col-2">
                                <label>Check Box</label><br />
                                <p-checkbox class="w-full" name="Checkbox"
                                    [value]="Module[0].moduleList[0].moduleDetails[4].value"
                                    [(ngModel)]="Module[0].moduleList[0].moduleDetails[4].value" [binary]="true">
                                </p-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="group-header">
                        Form With Grouping 2
                    </div>
                    <div class="group-content">
                        <div class="formgrid grid">
                            <div class="field col-12 md:col-2">
                                <label>Radio Button</label>
                                <div *ngFor="let radioButton of ['yes','no']"
                                    class="p-field-checkbox">
                                    <p-radioButton class="w-full" name="RadioButton"
                                        [value]="radioButton"
                                        [(ngModel)]="Module[0].moduleList[0].moduleDetails[5].value"></p-radioButton>
                                    <label>{{radioButton}}</label>
                                </div>
                            </div>
                            <div class="field col-12 md:col-2">
                                <label>Email With OTP</label>
                                <input class="w-full" pInputText type="email" name="EmailWithOTP" email required
                                    #EmailWithOTP30993="ngModel" ngModel [readonly]="showMyContainer||ValidatedEmail" />
                                <button *ngIf="EmailWithOTP30993?.valid" type="button" pButton style="float: right;"
                                    (click)="toggleOTPEmail(EmailWithOTP30993.value)"
                                    [disabled]="!EmailWithOTP30993.valid||ValidatedEmail"
                                    label="Verify with OTP"></button>
                                <div *ngIf="showContainerEmail">
                                    <label>Enter OTP</label>
                                    <input type="text" name="OTP" #OTP="ngModel" ngModel />
                                    <button type="button" pButton (click)="toggleOTPEmail(EmailWithOTP30993.value)"
                                        *ngIf="showContainerEmail" label="Resend OTP"
                                        style="float: right;margin-left:2px"></button>
                                    <button type="button" pButton (click)="CheckOTP(OTP.value)"
                                        *ngIf="showContainerEmail" label="Validate OTP"
                                        style="float: right;margin-left:2px"></button>
                                </div>
                                <div *ngIf="EmailWithOTP30993?.invalid && (EmailWithOTP30993?.dirty || EmailWithOTP30993?.touched)"
                                    class="error">
                                    <div *ngIf="EmailWithOTP30993?.errors?.required">
                                        Email is required.
                                    </div>
                                    <div *ngIf="EmailWithOTP30993?.errors.email">Email must be a valid email address
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-2">
                                <label>ReadOnly Text Box</label>
                                <input pInputText [disabled]="true" type="text" class="w-full" id="ReadOnlyTextBox30994"
                                    name="ReadOnlyTextBox" #ReadOnlyTextBox30994="ngModel"
                                    value="{{Module[0].moduleList[0].moduleDetails[7].value}}"
                                    [(ngModel)]="Module[0].moduleList[0].moduleDetails[7].value" pattern="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="group-header">
                        Form With Grouping 3
                    </div>
                    <div class="group-content">
                        <div class="formgrid grid">
                            <div class="field col-12 md:col-2">
                                <label>Text Area</label>
                                <textarea class="p-inputtext w-full" rows="5" cols="3" id="TextArea30995"
                                    name="TextArea" #TextArea30995="ngModel"
                                    [(ngModel)]="Module[0].moduleList[0].moduleDetails[8].value"
                                    pInputTextArea></textarea>
                            </div>
                            <div class="field col-12 md:col-2">
                                <label>Pincode</label>
                                <input class="w-full" type="text" size="30" pInputText id="pincode30996" name="pincode"
                                    #pincode30996="ngModel" [(ngModel)]="Module[0].moduleList[0].moduleDetails[9].value"
                                    (focusout)="onFocusOutEvent($event, 9)" pattern="" />
                                <div *ngIf="pincode30996?.invalid && (pincode30996?.dirty || pincode30996?.touched)"
                                    class="error">
                                    <div *ngIf="pincode30996?.errors?.pattern">

                                    </div>

                                </div>
                            </div>
                            <div class="field col-12 md:col-2">
                                <label>Datetime</label>
                                <p-datepicker class="w-full" [showIcon]="true" id="Datetime30997" name="Datetime"
                                    #Datetime30997="ngModel" large-columns pattern=""
                                    [(ngModel)]="Module[0].moduleList[0].moduleDetails[10].value" appendTo="body"
                                    [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true"
                                    yearRange="1850:2150" showButtonBar="true" dateFormat="dd-mm-yy" [showTime]="true"
                                    showWeek="true" hourFormat="12" todayButtonStyleClass="ui-secondary-button"
                                    clearButtonStyleClass="ui-secondary-button"></p-datepicker>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="text-align:right;margin: 10px;">
                    <button pButton label="Submit" [disabled]="f_form_11079.form.invalid" type="submit"></button>
                </div>

            </form>
        </div>


    </div> <!---End of grid-->


</ng-container>