@if (false) {
    <div id="cover">
        <div class="center">
            <div class="message">
                Please wait ... <br>
                <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                    preserveAspectRatio="xMidYMid" class="lds-ellipsis">
                    <circle cx="84" cy="50" r="0" fill="#ffcc33">
                        <animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1"
                            keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s"
                            repeatCount="indefinite" begin="0s"></animate>
                        <animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1"
                            keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s"
                            repeatCount="indefinite" begin="0s"></animate>
                    </circle>
                    <circle cx="42.7" cy="50" r="10" fill="#7de6ea">
                        <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1"
                            keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s"
                            repeatCount="indefinite" begin="-0.7s"></animate>
                        <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1"
                            keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s"
                            repeatCount="indefinite" begin="-0.7s"></animate>
                    </circle>
                    <circle cx="16" cy="50" r="7.85" fill="#ffa570">
                        <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1"
                            keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s"
                            repeatCount="indefinite" begin="-0.35s"></animate>
                        <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1"
                            keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s"
                            repeatCount="indefinite" begin="-0.35s"></animate>
                    </circle>
                </svg>
            </div>
        </div>
    </div>
    }
    
    <div class="p-grid">
        <div class="p-col-12 p-md-12">
            <p-tabs value="0">
                <p-tablist>
                    <p-tab [pTooltip]="Module && Module[0].moduleList[0].ModuleDescription" tooltipPosition="top" value="0">Demand Drivers</p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <div class="p-col-12 p-md-12">
                            <p-panel 
                                [style]="Module && Module[0].moduleList[0].BackgroundColor">
                                <p-header>
                                    <!-- <div class="ui-panel-title">
                                        <p-overlayPanel [showCloseIcon]="false" [appendTo]="'body'" #op4405
                                            class="opDescription">
                                            Demand Drivers
                                        </p-overlayPanel>
                                    </div> -->
                                </p-header>
                                <form name="form" (ngSubmit)="f_form_4405.form.valid && onSubmit(f_form_4405, 4405, 0, 0)"
                                    #f_form_4405="ngForm" novalidate>
                                    <p-card header="Driver Details">
                                        <div class="p-fluid p-formgrid p-grid">
                                            <div class="p-field col-12 md:col-2">
                                                <label>Demand Driver</label>
                                                <p-dropdown *ngIf="Module"
                                                    [options]="Module[0].moduleList[0].moduleDetails[3].DropDownValues"
                                                    ngModel #DemandDriver19282="ngModel" id="DemandDriver19282"
                                                    name="DemandDriver" autofocusFilter="true" resetFilterOnHide="true"
                                                    filter="true" autofocus="true" [autoDisplayFirst]="false"
                                                    showClear="true"  optionLabel="Text" [showClear]="true"
                                                    scrollHeight="200px" appendTo="body"></p-dropdown>
                                            </div>
                                            <div class="p-field col-12 md:col-2">
                                                <label>Demand Driver Desc</label>
                                                <p-dropdown *ngIf="Module"
                                                    [options]="Module[0].moduleList[0].moduleDetails[4].DropDownValues"
                                                    ngModel #DemandDriverDesc19283="ngModel" id="DemandDriverDesc19283"
                                                    name="DemandDriverDesc" autofocusFilter="true" resetFilterOnHide="true"
                                                    filter="true" autofocus="true" [autoDisplayFirst]="false"
                                                    showClear="true"  optionLabel="Text" [showClear]="true"
                                                    scrollHeight="200px" appendTo="body"></p-dropdown>
                                            </div>
                                        </div>
                                    </p-card>
                                    <p-card header="Product Region Parameters">
                                        <div class="p-fluid p-formgrid p-grid">
                                            <div class="p-field col-12 md:col-2">
                                                <label>Product Level</label>
                                                <p-dropdown *ngIf="Module"
                                                    [options]="Module[0].moduleList[0].moduleDetails[5].DropDownValues"
                                                    ngModel #ProductLevel19276="ngModel" id="ProductLevel19276"
                                                    name="ProductLevel" autofocusFilter="true" resetFilterOnHide="true"
                                                    filter="true" autofocus="true" [autoDisplayFirst]="false"
                                                    showClear="true"  optionLabel="Text" [showClear]="true"
                                                    scrollHeight="200px" appendTo="body"></p-dropdown>
                                            </div>
                                            <div class="p-field col-12 md:col-2">
                                                <label>Product ID</label>
                                                <p-multiSelect *ngIf="Module"
                                                    [options]="Module[0].moduleList[0].moduleDetails[6].DropDownValues"
                                                    ngModel #ProductID19277="ngModel" id="ProductID19277" name="ProductID"
                                                    defaultLabel="Select" filter="true" appendTo="body"
                                                    optionLabel="Text" 
                                                    scrollHeight="200px" selectedItemsLabel="{0} items selected"
                                                    showToggleAll="true" resetFilterOnHide="true">
                                                </p-multiSelect>
                                            </div>
                                            <div class="p-field col-12 md:col-2">
                                                <label>Region Level</label>
                                                <p-dropdown *ngIf="Module"
                                                    [options]="Module[0].moduleList[0].moduleDetails[7].DropDownValues"
                                                    ngModel #RegionLevel19278="ngModel" id="RegionLevel19278"
                                                    name="RegionLevel" autofocusFilter="true" resetFilterOnHide="true"
                                                    filter="true" autofocus="true" [autoDisplayFirst]="false"
                                                    showClear="true"  optionLabel="Text" [showClear]="true"
                                                    scrollHeight="200px" appendTo="body"></p-dropdown>
                                            </div>
                                            <div class="p-field col-12 md:col-2">
                                                <label>Region ID</label>
                                                <p-multiSelect *ngIf="Module"
                                                    [options]="Module[0].moduleList[0].moduleDetails[8].DropDownValues"
                                                    ngModel #RegionID19279="ngModel" id="RegionID19279" name="RegionID"
                                                    defaultLabel="Select" filter="true" appendTo="body"
                                                    optionLabel="Text" 
                                                    scrollHeight="200px" selectedItemsLabel="{0} items selected"
                                                    showToggleAll="true" resetFilterOnHide="true">
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                    </p-card>
                                    <p-card header="Change Details">
                                        <div class="p-fluid p-formgrid p-grid">
                                            <div class="p-field col-12 md:col-2">
                                                <label>Change Type</label>
                                                <p-dropdown *ngIf="Module"
                                                    [options]="Module[0].moduleList[0].moduleDetails[9].DropDownValues"
                                                    ngModel #ChangeIn19281="ngModel" id="ChangeIn19281" name="ChangeIn"
                                                    autofocusFilter="true" resetFilterOnHide="true" filter="true"
                                                    autofocus="true" [autoDisplayFirst]="false" showClear="true"
                                                     optionLabel="Text" [showClear]="true"
                                                    scrollHeight="200px" appendTo="body"></p-dropdown>
                                            </div>
                                            <div class="p-field col-12 md:col-2">
                                                <label>UOM To Change</label>
                                                <p-dropdown *ngIf="Module"
                                                    [options]="Module[0].moduleList[0].moduleDetails[10].DropDownValues"
                                                    ngModel #ToChange19280="ngModel" id="ToChange19280" name="ToChange"
                                                    autofocusFilter="true" resetFilterOnHide="true" filter="true"
                                                    autofocus="true" [autoDisplayFirst]="false" showClear="true"
                                                     optionLabel="Text" [showClear]="true"
                                                    scrollHeight="200px" appendTo="body"></p-dropdown>
                                            </div>
                                            <div class="p-field col-12 md:col-2">
                                                <label>Period</label>
                                                <p-multiSelect *ngIf="Module"
                                                    [options]="Module[0].moduleList[0].moduleDetails[11].DropDownValues"
                                                    ngModel #Period19284="ngModel" id="Period19284" name="Period"
                                                    defaultLabel="Select" filter="true" appendTo="body"
                                                    optionLabel="Text" 
                                                    scrollHeight="200px" selectedItemsLabel="{0} items selected"
                                                    showToggleAll="true" resetFilterOnHide="true">
                                                </p-multiSelect>
                                            </div>
                                            <div class="p-field col-12 md:col-2">
                                                <label>Change Value</label>
                                                <input pInputText type="number" name="ChangeValue" class="inputField"
                                                    #ChangeValue19285="ngModel"
                                                    [ngModel]="Module && Module[0].moduleList[0].moduleDetails[12].value"
                                                    pattern="0" />
                                            </div>
                                            <div class="p-field col-12 md:col-2">
                                                <label>UoM</label>
                                                <p-dropdown *ngIf="Module"
                                                    [options]="Module[0].moduleList[0].moduleDetails[13].DropDownValues"
                                                    ngModel #UoM19286="ngModel" id="UoM19286" name="UoM"
                                                    autofocusFilter="true" resetFilterOnHide="true" filter="true"
                                                    autofocus="true" [autoDisplayFirst]="false" showClear="true"
                                                     optionLabel="Text" [showClear]="true"
                                                    scrollHeight="200px" appendTo="body"></p-dropdown>
                                            </div>
                                        </div>
                                    </p-card>
                                    <div style="text-align: right; margin: 10px">
                                        <button pButton label="Submit" [disabled]="f_form_4405.form.invalid"
                                            type="submit"></button>
                                    </div>
                                </form>
                            </p-panel>
                        </div>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>
    </div>